.detail__main-block {
    display: flex;
    gap: 16px;
}
.detail__content {
    border-top: 1px solid #C0C0C0;
    width: 544px;
    padding: 16px;
    background-color: #fff;
}
.detail__title {
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 8px;
}
.detail__date {
    display: block;
    line-height: 24px;
    margin-bottom: 20px;
}
.detail__description {
    padding-right: 16px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
}

.detail__comment-block {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    align-items: center;
}

.detail__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.detail__share {
    font-weight: 500;
    line-height: 24px;
    color: #2B9EF1;
    display: flex;
    transition: .2s;
}

.detail__share:hover {
    opacity: .6;
}

.detail__share::before {
    content: url('../share.svg');
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.detail__similar {
    padding-top: 16px;
    border-top: 1px solid #C0C0C0;
    flex-grow: 1;
}

.card-list__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detail__subtitle {
    line-height: 32px;
    font-weight: 500;
}

.similar-title {
    padding: 0 16px;
    margin-bottom: 16px;
}


.detail__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__box {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
.form__label {
    width: 48px;
    font-size: 18px;
    line-height: 24px;
}
.form__input {
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    height: 40px;
    flex-grow: 1;
    box-shadow: inset 0px 2px 8px rgb(0 0 0 / 20%);
}

.form__input:focus {
    outline-color: #2B9EF1;
}

.form__body {
    position: relative;
    height: 112px;
    margin-bottom: 24px;
}
.form__body-area {
    padding: 16px;
    font-size: 18px;
    box-shadow: inset 0px 2px 8px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    resize: none;
    font-family: 'Roboto', sans-serif;

}

.form__body-area:focus {
    outline-color: #2B9EF1;
}

.form__submit {
    
}

.form__body-submit {
    right: 16px;
    bottom: 16px;
    position: absolute;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #2B9EF1;
    color: #2B9EF1;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    padding: 0 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.form__body-submit:hover {
    opacity: .8;
}

.form__body-submit:active {
    opacity: .6;
}

.detail__comment {
    border-top: 1px solid #D7D7D7;
    padding: 16px;
    line-height: 24px;
}
.comment-info {
    display: flex;
    gap: 8px;
}
.comment-info__name {
}
.comment-info__date {
    color: #9F9F9F;
}
.comment-text {
    padding: 8px 0 16px 16px;
}



