.title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
}

.result__block {
    background-color: #fff;
    padding: 24px 16px;
    border-top: 1px solid #C0C0C0;
    min-height: 72px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.result__header {
    display: flex;
    gap: 8px;
}

.result__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 50%;
}

.result__footer {
    display: flex;
    margin-left: auto;
    gap: 16px;
}

.item-footer__comment {
    align-items: center;
}

.result__tags {
    display: flex;
}